venv
*.pth
*.pt
*.yaml
data/sock_*
data/data_*
data/backend
*.jpg
__pycache__
temp*
flux
wandb
*.gz
*.whl
build
.idea
dist
.nox
.pytest_cache
cmake-build-debug
*.log
.benchmarks
*.jax
*.pickle
*.png
.vscode
*.db
.*/
setup.sh
node_modules
storage