[submodule "dataloader/submodules/bitshuffle"]
	path = dataloader/submodules/bitshuffle
	url = https://github.com/kiyo-masui/bitshuffle.git
[submodule "dataloader/submodules/cnpy"]
	path = dataloader/submodules/cnpy
	url = https://github.com/rogersce/cnpy.git
[submodule "dataloader/submodules/stb"]
	path = dataloader/submodules/stb
	url = https://github.com/nothings/stb
[submodule "dataloader/submodules/spdlog"]
	path = dataloader/submodules/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "dataloader/submodules/asio"]
	path = dataloader/submodules/asio
	url = https://github.com/boostorg/asio
