Checks: >
  clang-analyzer-*,
  bugprone-*,
  misc-unused-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  performance-*,
  WarningsAsErrors: ''
HeaderFilterRegex: 'src/.*'
FormatStyle: none
